.getInTouchContainer{
    border: solid 0.5px black;
    border-radius: 5px;
    margin: 5%;
    padding: 2% 5%;
    color: rgba(6, 6, 105, 0.839);
}
.inputContainer{
    display: flex;
    flex-direction: column;
}
.inputContainer input, .inputContainer textarea {
    margin: 3%;
    font-size: 14px;
    padding: 5px;
}