/* Jorge machuca part */

#first-text {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  color: white;
  padding: 0 50px 0 100px;
    
}

#btn-one {
    color: white;
    background-color: #3882F6;
     height:20px;
    width:80px;
    margin-bottom: 80px;
    border-radius: 5px;
    padding: 5px 0px 20px 0px;
    
}

#first-line {
    font-size: 50px;
}

#fourth-text {
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    color: white;
    margin: 70px 100px;
    padding: 20px 30px 20px 30px;
    border-radius: 5px;
}

#btn-two {
     color: white;
    background-color: #3882F6;
     height:20px;
    width:80px;
    margin-bottom: 80px;
    border-radius: 5px;
    border-color: white;
 
}