.flex-container {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

figcaption {
    font-size: 32px;
    text-align: center;
}

img {
    height: 300px;
}

.btn {
    display: block;
    transition-duration: 0.4s;
    margin: auto;
}

.btn:hover {
  background-color: black;
  color: white;
}

.secondary-text{
    color: white;
    justify-content: space-around;
    padding-left: 10px;
}
a:hover {
    color: rgba(197, 240, 240, 0.897);
}